{% extends "layout.html" %}

{% block pageTitle %}
Digital | RouteToWork
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Digital</h1>
        <h2 class="govuk-heading-l">Routes to Work</h2>

        <p>
            Based on your answers, a career in the digital sector could be a great opportunity for you.
            Digital is a growth sector with lots of new vacancies and career opportunities.
        </p>
        <p>
            You can use <a href="">this tool</a> to see how many jobs in this sector are available in your area.
            For full details of current job vacancies, please visit <a href="https://www.gov.uk/find-a-job">Find a
            Job</a>.
        </p>
        <h2 class="govuk-heading-m">Further Information</h2>
        <p>
            Based on your details, you may wish to ask your Work Coach for further information about the following
            training opportunities:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Sector-based work academies for Digital roles</li>
            <li>Digital Kickstart opportunities</li>
            <li>Digital Apprenticeships opportunities</li>
        </ul>
        <p>
            Please discuss the findings of this tool with your Work Coach to help to agree next steps.
        </p>
    </div>
</div>

{% endblock %}