{% extends "layout.html" %}

{% block pageTitle %}
  Hospitality | RouteToWork
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Hospitality</h1>
        <h2 class="govuk-heading-l">Routes to Work</h2>
        <p>
            Based on your answers, a career in the hospitality sector could be a great opportunity for you.
            Despite opportunities in this sector declining due to the Covid-19 pandemic,
            businesses are recently starting to offer roles within the hospitality sector again.
        </p>
        <p>
            You can use <a href="">this tool</a> to see how many jobs in this sector are available in your area.
            For full details of current job vacancies, please visit <a href="https://www.gov.uk/find-a-job">Find a Job</a>.
        </p>
        <h2 class="govuk-heading-m">Further Information</h2>
        <p>
            Based on your details, you may wish to ask your Work Coach for further information about the following
            training opportunities:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Sector-based work academies for Hospitality roles</li>
            <li>Employability support to prepare you for hospitality sector interviews</li>
        </ul>
        <p>
            Please discuss the findings of this tool with your Work Coach to help to agree next steps.
        </p>
    </div>
</div>
{% endblock %}